* {
  margin: 0;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  width: 100px;
  border-radius: 50%;
}

.Calculator-container {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  border: 2px solid gray;
}

.Calculator-answer {
  width: 96%;
  background-color: gray;
  color: #fff;
  text-align: end;
  font-size: 30px;
  padding: 2%;
}

.Calculator-inputs-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Calculator-inputs-row button {
  height: 50px;
  border: 1px solid gray;
  font-size: 20px;
}

.Calculator-inputs-row button:hover {
  background-color: lightgray;
}

.Calculator-inputs-row button:active {
  transition: ease-in-out;
  transform: scale(0.95);
}

.Calculator-inputs-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Calculator-inputs-row button:last-child {
  background-color: rgb(255, 187, 0);
}

.Calculator-inputs-row.row-5 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
