@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  width: 100px;
  border-radius: 50%;
}

/* style for all ul */
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b36b0f;
  padding: 20px;
}

.active {
  color: #fff;
  font-style: italic;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar-brand {
  color: rgb(15, 233, 197);
  font-size: 25px;
  font-weight: 700;
}

.navbar-nav {
  display: inline-flex;
  gap: 20px;
  list-style: none;
}

.nav-item {
  display: inline;
  font-size: 20px;
  font-weight: 600;
}

main {
  width: 80%;
  margin: 50px auto;
  min-height: 500px;
}

/* quotes section */
.quotes-container {
  display: inline-flex;
  gap: 20px;
  flex-direction: column;
  list-style-type: none;
}

.quotes-container li {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}

.quotes-container li span {
  font-size: 18px;
  font-weight: 600;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.Calculator-container {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  border: 2px solid gray;
}

.Calculator-answer {
  width: 96%;
  background-color: gray;
  color: #fff;
  text-align: end;
  font-size: 30px;
  padding: 2%;
}

.Calculator-inputs-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Calculator-inputs-row button {
  height: 70px;
  border: 1px solid gray;
  font-size: 20px;
}

.Calculator-inputs-row button:hover {
  background-color: lightgray;
}

.Calculator-inputs-row button:active {
  transition: ease-in-out;
  transform: scale(0.95);
}

.Calculator-inputs-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Calculator-inputs-row button:last-child {
  background-color: rgb(255, 187, 0);
}

.Calculator-inputs-row.row-5 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

footer {
  background-color: #b36b0f;
  padding: 20px;
  color: white;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px;
  }

  .navbar-brand {
    font-size: 18px;
    font-weight: 700;
  }

  .navbar-nav {
    gap: 10px;
  }

  .nav-item {
    font-size: 15px;
    font-weight: 600;
  }

  main {
    width: 90%;
    margin: 50px auto;
  }
}
